Q1. Create one variable containing following type of data:
(4) = tuple

In [1]:
s = 'pwskills', 'mithilesh', 'sudhanshu'

In [2]:
type(s)

tuple

(1) = string

In [3]:
s1 = "pwskills"

In [4]:
type(s1)

str

(2) = list

In [6]:
l = [1,2,3,4,"pwskills","sudhanshu"]

In [7]:
l

[1, 2, 3, 4, 'pwskills', 'sudhanshu']

(3) = float

In [8]:
f = 12.45

In [9]:
type(f)

float

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

In [10]:
a = "i am learning python"

In [11]:
print(a)

i am learning python

(ii) var2 = ‘[ DS , ML , Python]’

In [12]:
a1 = ["i am learning python", "reading python", "books"]
print(a1)

['i am learning python', 'reading python', 'books']

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

In [13]:
a3 = ["pwskills", "sudhanshu", "mithilesh"]
print(a3)

['pwskills', 'sudhanshu', 'mithilesh']

(iv) var4 = 1.

In [14]:
a4 = ["skills", "speed", "high"]
print(a4)

['skills', 'speed', 'high']

Q3. Explain the use of the following operators using an example:
(1) = /
answer = Divide
(2) = %
answer = Modulus
(3) = // 
answer = floor-divide
(4) = **
Exponent

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [15]:
l1 = [1,2,3,4,5,"pwskills", "mithilesh", 54.46, 54+5j, True]
for i in range(len(l1)):
    print(l1[i])

1
2
3
4
5
pwskills
mithilesh
54.46
(54+5j)
True

In [16]:
print(l1)

[1, 2, 3, 4, 5, 'pwskills', 'mithilesh', 54.46, (54+5j), True]

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [17]:
b = [2,3,4,5,6,"mithi", 3+5j, True, 34.54]

In [18]:
type(b)

list

In [20]:
b[0]

2

In [21]:
b

[2, 3, 4, 5, 6, 'mithi', (3+5j), True, 34.54]

In [22]:
b[1] = 300

In [23]:
b

[2, 300, 4, 5, 6, 'mithi', (3+5j), True, 34.54]

In [27]:
b1 = "mithilesh"

In [28]:
b1[1]= 'a'

TypeError: 'str' object does not support item assignment

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [5]:
c = 40
d = 2
while d < c :
    print(d)
    d = d + 1
else :
    print("this is my else")

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
this is my else

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [6]:
b = int(input())
if b>3 :
    print("yes b s greater than 25")
else :
    print("this is my defalut")

 25

yes b s greater than 25